:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url("https://eneax.github.io/learn-css-grid/assets/images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  img {
    width: 10em;
    margin: 1em;
  }

  .albums{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 20px;
  }

  .album{
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
  }
  
  .album__details{
    margin: 1em;
  }
  
  
  /******************************/
  